<!DOCTYPE HTML>
<html>
<head>
    <title>Redirection</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Refresh" content="0; url=./
/index.html">
</head>
<body id="the_document_body">
<p>Redirecting...</p>
</body>

<!--
# #==========================================================================
# export MMMV_FP_TEMPLATE_HTML_REDIRECT_T1=\
# "$HOME/foo/bar/redirection.html"
#        # Please update the above path at Your ~/.bashrc .
# echo ""
# echo "A script section at the ~/.bashrc has "
# echo "not been updated to reflect Your environment."
# echo "Please seek out the "
# echo "GUID=='c49bba5d-1e75-4e0b-a31f-31c1119062e7'"
# echo "at the ~/.bashrc and please read "
# echo "the comments that surround that GUID. Thank You."
# echo ""
# # The "exit 1" can not be used here, because
# # an exit command at the ~/.bashrc would 
# # close the Bash session before the user has 
# # any chance of using the session.
# 
#        # All of the bash code at the HTML template that is below this line 
#        # is an implementation code that does not require 
#        # any updates. The preceding "# " at the template file 
#        # can be handled with Vim macros.
# #::::::::::::::::::::::::::::::::::::::::::::::::::::
# # The Bash code for the ~/.bashrc 
# # can be automatically thrown out of the copy of the 
# # HTML template file by executing:
# #
# export MMMV_FP_TEMPLATE_HTML_REDIRECT_T1_CMD_01="cat \
# ./index.html.template.txt | ruby -e \"\
# s=\\\$stdin.read; s1=s.gsub(\
# /(^[\#]\\s.*[\\n])|(^[<]\!--.*[\\n])/,'').gsub(\
# /^[\\n]/,''); puts(s1); \
# \" > ./index.html "
# #
# # The above code block has a quirk that 
# # the double quotes and the dollar sign at the 
# #
# #     ruby -e "\$foo='bar'; puts('chocolate '+\$foo);" 
# #
# # participate at the following scheme:
# #
# #     ----demo--script--citation--start---
# #     #!/usr/bin/env bash
# #
# #     S_CMD_0=" ruby -e \"\\\$foo='bar'; puts('chocolate '+\\\$foo);\" "
# #     S_CMD_1="$S_CMD_0"
# #     S_CMD_2="$S_CMD_1"
# #     echo "S_CMD_0==$S_CMD_0"
# #     echo "S_CMD_1==$S_CMD_1"
# #     echo "S_CMD_2==$S_CMD_2"
# #     eval $S_CMD_2 # executes the ruby command
# #     ##---output--citation--start-----
# #     #S_CMD_0== ruby -e "\$foo='bar'; puts('chocolate '+\$foo);" 
# #     #S_CMD_1== ruby -e "\$foo='bar'; puts('chocolate '+\$foo);" 
# #     #S_CMD_2== ruby -e "\$foo='bar'; puts('chocolate '+\$foo);" 
# #     #chocolate bar
# #     ##---output--citation--end-------
# #     ----demo--script--citation--end-----
# # 
# #::::::::::::::::::::::::::::::::::::::::::::::::::::
# MMMV_FP_TEMPLATE_HTML_REDIRECT_T1_CMD_02="\
#     cp $MMMV_FP_TEMPLATE_HTML_REDIRECT_T1 ./index.html "
# if [ "`which ruby 2>/dev/null`" != "" ]; then
#     ruby -v > /dev/null
#     if [ "$?" == "0" ]; then
#         MMMV_FP_TEMPLATE_HTML_REDIRECT_T1_CMD_02="\
#             cp $MMMV_FP_TEMPLATE_HTML_REDIRECT_T1 ./index.html.template.txt ;\
#             sync; $MMMV_FP_TEMPLATE_HTML_REDIRECT_T1_CMD_01 ;\
#             rm ./index.html.template.txt ; sync "
#     fi
# fi
# export MMMV_FP_TEMPLATE_HTML_REDIRECT_T1_CMD_02="\
#     $MMMV_FP_TEMPLATE_HTML_REDIRECT_T1_CMD_02 ; \
#     mkdir -p ./bonnet/the_site "
# #::::::::::::::::::::::::::::::::::::::::::::::::::::
# if [ -e $MMMV_FP_TEMPLATE_HTML_REDIRECT_T1 ]; then
#     if [ -d $MMMV_FP_TEMPLATE_HTML_REDIRECT_T1 ]; then
#         echo ""
#         echo "The "
#         echo ""
#         echo "    $MMMV_FP_TEMPLATE_HTML_REDIRECT_T1"
#         echo ""
#         echo "is a folder, but it is expected to be "
#         echo "a file or a symlink to a file."
#         echo "GUID=='08a14729-ce3c-4093-841f-31c1119062e7'"
#         echo ""
#     else
#         # Overwriting with the "cp -f" is avoided for safety.
#         alias mmmv_cre_HTML_redirect_t1="if [ ! -e ./index.html ]; then \
#             $MMMV_FP_TEMPLATE_HTML_REDIRECT_T1_CMD_02 \
#             ; else \
#             echo \"\"; \
#             echo \"The ./index.html already exists at \"; \
#             echo \"\"; \
#             echo \"    \`pwd\`\"; \
#             echo \"\"; \
#             echo \"Retaining the old version of the ./index.html by \"; \
#             echo \"skipping the copying.\"; \
#             echo \"GUID=='2fed6451-4d8e-498a-951f-31c1119062e7'\"; \
#             echo \"\"; \
#             fi"
#     fi
# else
#     echo ""
#     echo "The file "
#     echo ""
#     echo "    $MMMV_FP_TEMPLATE_HTML_REDIRECT_T1"
#     echo ""
#     echo "is missing."
#     echo "GUID=='fb9bcf20-7ed9-45bf-911f-31c1119062e7'"
#     echo ""
# fi
# #
# #::::::::::::::::::::::::::::::::::::::::::::::::::::
# # Some other related aliases:
# #
# if [ "`which wget`" != "" ]; then
#     MMMV_WGET_RECURSIVE_SINGLE_DOMAIN_CMD="nice -n15 wget --recursive \
#     --convert-links --adjust-extension --page-requisites \
#     --tries=3 --waitretry=2  --timeout=10 --user-agent=firefox "
# #
#     alias mmmv_wget_recursive_single_domain_1="\
#         $MMMV_WGET_RECURSIVE_SINGLE_DOMAIN_CMD --level=1 "
#     alias mmmv_wget_recursive_single_domain_2="\
#         $MMMV_WGET_RECURSIVE_SINGLE_DOMAIN_CMD --level=2 "
#     alias mmmv_wget_recursive_single_domain_3="\
#         $MMMV_WGET_RECURSIVE_SINGLE_DOMAIN_CMD --level=3 "
#     alias mmmv_wget_recursive_single_domain_4="\
#         $MMMV_WGET_RECURSIVE_SINGLE_DOMAIN_CMD --level=4 "
#     alias mmmv_wget_recursive_single_domain_5="\
#         $MMMV_WGET_RECURSIVE_SINGLE_DOMAIN_CMD --level=5 "
#     alias mmmv_wget_recursive_single_domain_6="\
#         $MMMV_WGET_RECURSIVE_SINGLE_DOMAIN_CMD --level=6 "
#     alias mmmv_wget_recursive_single_domain_7="\
#         $MMMV_WGET_RECURSIVE_SINGLE_DOMAIN_CMD --level=7 "
#     alias mmmv_wget_recursive_single_domain_8="\
#         $MMMV_WGET_RECURSIVE_SINGLE_DOMAIN_CMD --level=8 "
#     alias mmmv_wget_recursive_single_domain_9="\
#         $MMMV_WGET_RECURSIVE_SINGLE_DOMAIN_CMD --level=9 "
#     alias mmmv_wget_recursive_single_domain_10="\
#         $MMMV_WGET_RECURSIVE_SINGLE_DOMAIN_CMD --level=10 "
#     #--------
#     MMMV_WGET_RECURSIVE_ACROSS_DOMAINS_CMD="\
#         $MMMV_WGET_RECURSIVE_SINGLE_DOMAIN_CMD -H "
#     alias mmmv_wget_recursive_across_domains_1="\
#         $MMMV_WGET_RECURSIVE_ACROSS_DOMAINS_CMD --level=1 "
#     alias mmmv_wget_recursive_across_domains_2="\
#         $MMMV_WGET_RECURSIVE_ACROSS_DOMAINS_CMD --level=2 "
#     alias mmmv_wget_recursive_across_domains_3="\
#         $MMMV_WGET_RECURSIVE_ACROSS_DOMAINS_CMD --level=3 "
#     alias mmmv_wget_recursive_across_domains_4="\
#         $MMMV_WGET_RECURSIVE_ACROSS_DOMAINS_CMD --level=4 "
#     alias mmmv_wget_recursive_across_domains_5="\
#         $MMMV_WGET_RECURSIVE_ACROSS_DOMAINS_CMD --level=5 "
#     alias mmmv_wget_recursive_across_domains_6="\
#         $MMMV_WGET_RECURSIVE_ACROSS_DOMAINS_CMD --level=6 "
#     alias mmmv_wget_recursive_across_domains_7="\
#         $MMMV_WGET_RECURSIVE_ACROSS_DOMAINS_CMD --level=7 "
#     alias mmmv_wget_recursive_across_domains_8="\
#         $MMMV_WGET_RECURSIVE_ACROSS_DOMAINS_CMD --level=8 "
#     alias mmmv_wget_recursive_across_domains_9="\
#         $MMMV_WGET_RECURSIVE_ACROSS_DOMAINS_CMD --level=9 "
#     alias mmmv_wget_recursive_across_domains_10="\
#         $MMMV_WGET_RECURSIVE_ACROSS_DOMAINS_CMD --level=10 "
# fi
# #
# #==========================================================================
# -->


</html>
